.container {
  height: 100%;
  text-align: center;
  border: 1px solid black;
}

.img{
  max-width: 96px;
  max-height: 96px;
}

.containerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}

.bold{
  font-weight: bold;
}
