
.container {
  height: 100%;
  text-align: center;
  border: 1px solid black;
}

.img{
  max-width: 96px;
  max-height: 96px;
}

/* .ico {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.svgAdd:hover {
  fill: yellow;
}
.svgRemove:hover {
  fill: gray;
} */
