.modal {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: white;
  width: 50%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 25%;
  display: block !important;
  overflow-y: hidden;
  background-color: #ddcfba;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.stats {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.nameSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.containerImg {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow-x: auto;
}

.img {
  width: 180px;
  height: 180px;
}

.line{
  margin-bottom: 8px;
}

.wrapperImg {
  display: flex;
  flex-direction: column;
}

.imgDescription{
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 925px) {
  .img {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 540px) {
  .img {
    width: 50px;
    height: 50px;
  }
  .imgDescription{
    font-size: 8px;
    text-align: center;
  }
}