.modal {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: white;
  width: 50%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 25%;
  display: block !important;
  overflow-y: hidden;
  background-color: #ddcfba;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.stats {
  display: flex;
  flex-direction: column;
}
.nameSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.containerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.img {
  color: rgba(255, 251, 0, 0.543);
  width: 240px;
  height: 240px;
}